@inherits E1BaseComponent
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@inject SessionStorage SessionStorage
@inject JsService  Js

<div class="navbar fixed-top navbar-light bg-light">
    <div class="col-auto">
        <NavLink href="/"><i class="fas fa-home"></i></NavLink>
    </div>
    <div class="col">
        @if  (State.Authenticated)
        {
            <p>
                Welcome, @State.AuthResponse?.userInfo.alphaName you're logged into @State.AuthResponse?.environment
            </p>
        }
        else
        {
            <em>Logged out!</em>
        }
    </div>
    <div class="col-auto">
        <button class="btn btn-warning" @onclick="@Logout"><i class="fas fa-sign-out-alt"></i></button>
    </div>
</div>
@if (!State.Authenticated)
{
    <div id="overlay"></div>
    <Login></Login>
}
<svelte-clock></svelte-clock>

@code {
    protected async Task Logout() => await Mediator.Send(new LogoutAction());
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender && !State.Authenticated)
        {
            var resp = await SessionStorage.GetItemAsync<Celin.AIS.AuthResponse>(E1Service.SESSIONKEY);
            if (resp != null)
            {
                await Mediator.Send(new LoginAction { AuthResponse = resp });
            }
        }
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Js.InitClock("svelte-clock");
        }
    }
}
